<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vmatchu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logobox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.EditPurchasePropertyActivity"></activity>

        <activity android:name=".Activities.PackageActivity"></activity>
        <activity android:name=".Activities.GeneratedInvoiceActivity"/>
        <activity android:name=".Activities.InvoiceActivity" />

        <activity android:name=".Activities.EditSellPropertyActivity" />
        <activity android:name=".Activities.MatchPropertyActivity" />
        <activity android:name=".Activities.PropertyDetailsActivity" />
        <activity android:name=".Activities.EnterProperptyDetails2Activity" />
        <activity
            android:name=".Activities.myProperty"
            android:label="@string/title_activity_my_property"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.EnterPropertyDetailActivity" />
        <activity android:name=".Activities.myProfileActivity" />
        <activity android:name=".Activities.Home2activity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Activities.submitProperty"
            android:label="@string/title_activity_home"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.signInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>